.borderstyle {
               top:0;
               left:0;
               max-width:310px;
               font-family: "Courier New";
               border:1px solid gray;
               padding:5px;
               box-shadow:5px 5px 5px gray;
}
h1 {
     font-size:20px;
   }
.imagebox {
            margin-left:auto;
            margin-right:auto;
            width:300px;
}
img {
      width:300px;
      height:200px;
}
.textbox {
      border:1px solid lightgray;
      max-width:300px;
      padding:10px;
      margin:auto;
      line-height:1.3em;
      font-size:14px;
}
.italics { font-style:italic;
}
ul {
     margin:0;
     padding:0;
}
li {
     list-style-type:none;
}
em {
     font-weight:bold;
     font-style:normal;
}
footer { font-size:11px;
         font-weight:bold;
         text-decoration:underline;
}
